<!DOCTYPE html>
<html>
<head>
  <title>Algo</title>
  <%= stylesheet_link_tag    "algo/application", media: "all" %>
  <%= javascript_include_tag "algo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
