<!DOCTYPE html>
<html>
<head>
  <title>Algo</title>
  <%= stylesheet_link_tag    "algo/application", media: "all" %>
  <%= javascript_include_tag "algo/application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
